<header id="navTop">
    <a href="{{ path('home') }}" class="nav-brand">
        <img 
            src="{{ asset('assets/img/logo.png') }}" 
            alt="Logo du site" 
            srcset="{{ asset('assets/img/logo.png') }}"
            class="nav-logo"
        >
    </a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./trick.html">Tricks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./login.html">Se connecter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('register') }}">S'inscrire</a>
        </li>
    </ul>
</header>